
tensorflow-gpu
tensorboard
pandas
numpy
jupyterlab  => conda install -c conda-forge
scikit-learn
matplotlib
seaborn

Use pip to install
librosa
soundfile
opencv-python
tensorflow-addons=0.10 for tensorflow 2.2
sox
