
# tensorflow-gpu==2.2, cudnn==7.6.5, cudatoolkit==10.1
conda install tensorflow=2.2.0=gpu_py38hb782248_0
tensorboard
pandas
numpy
scikit-learn
matplotlib

jupyterlab  => conda install -c conda-forge
seaborn
jupyter_contrib_nbextensions

Use pip to install
librosa==0.8.0, soundfile=0.10.3
opencv-python
tensorflow-addons==0.11 for tensorflow 2.2
sox
lckr-jupyterlab-variableinspector


specAugment
In spec_augment_tensorflow.py:
Add the following lines:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
from tensorflow_addons.image import sparse_image_warp

Remove:
from tensorflow.contrib.image import sparse_image_warp